botbuilder-integration-aiohttp>=4.15.0
langchain-groq
duckduckgo-search
langchain_community
tiktoken
langchainhub
langchain
langgraph
typing_extensions
typing
langchain-community
llama-parse 
qdrant_client
python-dotenv
fastembed
unstructured[md]